.task-section {
    background-color: white;
    color: black;
    height: 100%;
    overflow: auto;
  }
  
  .task-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: #002963; */
    background-color: var(--mainBlue);
    height: 80px;
  }
  .button-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    width: 100%;
  }
  .task-button-panel {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .task-button {
    padding: 0 10px;
  }
  
  .overlap {
    display: block;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-weight: 100;
    padding: 8px;
    margin: 0;
    border-radius: 5px;
    color: rgb(255, 255, 255);
  }
  .overlap:hover {
    background-color: rgba(175, 175, 175, 0.164);
  }
  
  .activebutton {
    background-color: rgb(255, 255, 255);
    color: black;
  }
  
  .input-date {
    display: flex;
    align-items: center;
  }
  
  .find-task {
    float: right;
    height: 4vh;
    width: 20vw;
    margin: 5px;
  }
  
  .tasks-list {
    display: flex;
    flex-direction: column;
  }
  
  .task-info {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }
  
  .task1 {
    display: flex;
    flex-direction: column;
    border: 1px solid #707070;
    border-left: 3px solid #3081ee;
    box-shadow: 4px 4px 19px -3px rgba(0, 0, 0, 0.65);
    background-color: #f8f7f5;
  }
  
  .task2 {
    display: flex;
    flex-direction: column;
    border: 1px solid #707070;
    border-left: 3px solid #103b84;
    box-shadow: 4px 4px 19px -3px rgba(0, 0, 0, 0.65);
    background-color: #f8f7f5;
  }
  
  .col1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5em;
    align-items: center;
  }
  
  .col3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5em;
    background-color: rgb(246, 242, 242, 0.5);
    align-items: center;
  }
  
  .col2 {
    border-bottom: 1px solid #292828;
    padding: 0.5em;
    align-items: center;
    overflow: auto;
    height: 5vh;
  }
  
  .accept {
    background-color: #3081ee;
  }
  
  .discard {
    background-color: #103b84;
  }
  
  .accept-discard-buttons > button {
    width: 35px;
    height: 35px;
    margin: 0.1em;
    color: white;
    cursor: pointer;
  }
  
  .MuiGrid-container {
    overflow: hidden;
  }
  
  .black {
    background-color: brown;
  }
  
  .white {
    background-color: chartreuse;
  }
  
  .add-task-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
  }
  
  .aktywny {
    background-color: teal;
  }
  
  .add-task-form > input {
    width: 50%;
  }
  
  .accept:hover {
    background-color: #4690f1;
  }
  
  .discard:hover {
    background-color: #264b8b;
  }
  
  .task:hover {
    box-shadow: 6px 6px 19px -3px rgba(0, 0, 0, 0.75);
  }
  
  .addTask-label {
    font-size: 17px;
    font-weight: 100;
    letter-spacing: 5px;
    padding: 0.5em;
  }
  
  .addTask-label2 {
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 5px;
    padding: 0.5em;
    border-bottom: 1px solid rgba(2, 92, 211, 0.815);
    margin-bottom: 2em;
    width: 45%;
    text-align: center;
  }
  
  .input-task {
    padding: 10px;
    letter-spacing: 3px;
    border: 1px solid rgba(18, 74, 128, 0.267);
  }
  
  .task-btn {
    margin-top: 20px;
    cursor: pointer;
    padding: 0.5em;
  
    border-radius: 8px;
    letter-spacing: 3px;
    background-color: rgba(2, 92, 211, 0.815);
    color: rgb(255, 255, 255);
  }
  
  .loading-task {
    text-align: center;
    margin-top: 2em;
  }
  
  .actual-date {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: white;
    font-weight: 100;
  }
  
  .taski {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    padding: 1em;
    overflow: auto;
  }