html, body {
    height: 100%;
    overflow: auto;
}

body{
    background: rgb(48,129,238);
    background: linear-gradient( rgba(48,129,238,1) 0%, rgba(28,162,240,1) 32%, rgba(32,108,174,1) 40%, rgba(24,74,143,1) 50%, rgba(16,59,132,1) 70%);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
}

.menu{
    text-align: left;
    margin-top: 2em;
    line-height: 4em;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}

.content{
    display: flex;
    flex-direction: row;
}

.page-content{
    width: 80vw;
    align-self: right;
}

.navbar-left{
    margin-left: -1.5em;
    margin-top: 1em;

}

.photo1{
    margin-left: 31em;
    padding-right: 1em;
}

.dane{
    margin-left: 4em;
    margin-top: -0.5em;
}

button {
    background-color: transparent;
    height: 2em;
    width: 5em;
    border-color: transparent;
}

svg.MuiSvgIcon-root {
    color: black;
    padding-right: 0.5em;
    padding-left: 0.5em;
}

.talk{
    margin-left: 23em;

}

.dane :hover {
    background-color: white;
}

.talk :hover {
    background-color: white;
}
