.size{
    margin-left: -6em;
}

.search{
    color:white;
    margin-top: 0em;
    margin-left: 13em;
}
.sea{
    margin-left: -12em;
    margin-top: -0.2em;
}

h6.MuiTypography-root.MuiTypography-h6 {
    margin-top: -0.3em;
}

.photo{
    margin-left: 0em;
}

.message{
   border:2px solid white;
   border-color: grey;
   border-top-right-radius: 0.7em;
   border-bottom-left-radius: 0.7em;
   width: 5em;
   background-color: white;
   margin-left: 2em;
   margin-top: -2.5em;
   height: 1.7em;
}

.date{
    margin-top: -0.7em;
    margin-left: 2.2em;
}

.messages{
    border:2px solid blue;
    margin-left: 39em;
    border-color: rgb(29, 204, 216);
    border-top-right-radius: 0.7em;
    border-bottom-left-radius: 0.7em;
    width: 9em;
    background-color:rgb(29, 204, 216);
    margin-left: 40em;

 }

 .dat {
    margin-right: 6.5em;
}

 .MuiPaper-root.MuiGrid-root.MuiGrid-container.MuiPaper-elevation1.MuiPaper-rounded {
    height: 48.4em;
    background-color: white;
}

.type{
    width: 50em;
    border:1px solid grey;
    background-color: white;
    padding-bottom: 0.7em;
    margin-left: -1em;
    padding-left: 1.5em;
    border-radius: 0.5em;
}

k{
    margin-left: -52em;
    margin-top: 1em;
}

.add{
    margin-top: -3.2em;
    margin-left: 45.5em;
}

.mess{
    margin-top: 31em;;
}

p{
    margin-left: -10.5em;
    margin-top: 1em;
}

.right{
    margin-top: 1em;
    margin-left: 2em;
}
l{
    margin-left: 50em;
    margin-top: 0.2em;
}


.right-navbar{
    margin-left: -7.1em;
}

.photo1{
    padding-right: 1em;
}

.dane{
    margin-left: 4em;
    margin-top: -0.5em;
}

.dane :hover {
    background-color: white;
}

.talk :hover {
    background-color: white;
}

button {
    background-color: transparent;
    height: 2em;
    width: 5em;
    border-color: transparent;
}

svg.MuiSvgIcon-root {
    color: black;
    padding-right: 0.5em;
    padding-left: 0.5em;
}

.talk{
    margin-left: 23em;

}

c1{
    border: 3px solid green;
    border-radius: 2em;
    margin-left: 8em;
}

