body{
    font-family: 'Montserrat', sens-serif;
}

.size{
    margin-left: -6em;
}

.search{
    color:white;
    margin-top: 0em;
    margin-left: 10em;
}

.search:hover{
    background-color: white;
}

.sea{
    margin-left: -12em;
    margin-top: -0.2em;
}

h6.MuiTypography-root.MuiTypography-h6 {
    margin-top: -0.3em;
}

header.MuiPaper-root.MuiAppBar-root.MuiAppBar-positionStatic.MuiAppBar-colorPrimary.MuiPaper-elevation4 {
    background-color: #3081EE;
}

.photo{
    margin-left: -6.5em;
}

.message{
   border:2px solid white;
   border-color: #8ab5ee;
   border-radius: 0.5em;
   width: 5em;
   background-color: #8ab5ee;
   margin-left: -4.5em;
   margin-top: -2.5em;
   height: 1.7em;
   font-family: 'Montserrat', sens-serif;
}

.date{
    margin-top: -0.7em;
    margin-left: -4.4em;
}

.messages{
    border:2px solid blue;
    margin-left: 39em;
    border-color: #8ab5ee;
    border-radius: 0.5em;
    width: 9em;
    background-color:#8ab5ee;
    margin-left: 46em;
    font-family: 'Montserrat', sens-serif;
 }

 .dat {
    margin-right: 0.6em;
}

 .MuiPaper-root.MuiGrid-root.MuiGrid-container.MuiPaper-elevation1.MuiPaper-rounded {
    height: 45.2em;
    background-color: white;
}

.type{
    width: 62.8em;
    border:1px solid grey;
    background-color: white;
    padding-bottom: 0.7em;
    margin-left: -7.1em;
    padding-left: 1.5em;
    margin-top: 1em;
    height: 4.05em;
}

k{
    margin-left: -64em;
    margin-top: 4em;
}

.add{
    margin-top: -3.2em;
    margin-left: 45.5em;
}

.mess{
    margin-top: 31em;;
}

p{
    margin-left: -1em;
    margin-top: 1em;
}

p:hover{
    background-color: white;
}

.right{
    margin-top: 6em;
    margin-left: 2em;
}

l{
    margin-left: 50em;
    margin-top: 0.2em;
}

ae{
    margin-top: 0em;
    margin-left: -1em;
}
