
.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-2 {
    background-color: var(--lightBlue);
    height: 100vh;
}

.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-10 {
    height: 100vh;
}

a {
    text-decoration: none;
    color: black;
    padding: 0.25em  0.5em;
}

li {
    list-style-type: none;
}

.page-content{
    align-self:flex-start;
}


.navbar-left{
    font-size: 24px;
}

.photo1{
    padding-right: 0.25em;
    padding-left: 0.5em;
}

.talk :hover {
    background-color: white;
}

button {
    background-color: transparent;
    border-color: transparent;
}

svg.MuiSvgIcon-root {
    color: black;
}



h6.MuiTypography-root.MuiTypography-h6 {
    color: black;
    font-size: 150%;
    font-family: 'Cormorant', serif;
    font-weight: bold;
}

li.MuiListItem-root.MuiListItem-gutters:hover {
    background-color: white;
    border-radius: 2em;
    margin-left: inherit;
    font-weight: bold;
}

.navList{
    display: flex;
    justify-content: space-around;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border: 1px solid #103B84;
    background-color: var(--mainBlue);

}

.talk button:hover{
    background-color: white;
    border-radius: 2em;
}

/* @media only screen (max-width: 1400px) {
    .navbar-left{
        font-size: 22px;
    }
    a {
        padding-left: 0em;
    }
} */

@media only screen and (max-width: 1400px) {
    .navbar-left{
        font-size: 22px;
    }

    a {
        padding-left: 0;
    }
}

@media only screen and (max-width: 1200px) {
    .navbar-left{
        font-size: 18px;
    }
    a {
        padding-left: 0;
    }
}

@media only screen and (max-width: 1000px) {
    .navbar-left{
        font-size: 15px;
    }
    a {
        padding-left: 0;
    }
}

@media only screen and (max-width: 950px) {
    .navbar-left{
        font-size: 12px;
    }
    a {
        padding-left: 0;
    }
}