
.size{
    display: flex;
}

.bottom-bar{
    border: 1px solid grey;
}


.navList1{
    display: flex;
    justify-content: left;
    grid-template-rows: auto;
}

.photo{
    display: flex;
    justify-content: center;
    align-items: center;
    /*padding-right: 1em;*/
}

