.size{
    display: flex;
}

.bottom-bar{
    box-shadow: inset 0 0 3px grey; 
    padding: 0.5em;
}

.navList1{
    display: flex;
    justify-content: left;
    grid-template-rows: auto;
}

.photo{
    display: flex;
    justify-content: center;
    align-items: center;
    /*padding-right: 1em;*/
}

.sendButtonIcon{
    display: flex;
    align-content: center;
    justify-content: center;
}

.sendButtonIcon button :hover{
    color: #035fdd;
}

.icon-button-file button :hover{
    color: #035fdd;
}

.pictureContainer{
    max-height:30vh;
    width:30vh;
}

.picture{
    width:100%;
    border-radius: 7px;
}

.picture:hover{
    transform: scale(2.2);
}

.pictureContainerMini{
    position: absolute;
    bottom: 20vh;
    right: 10px;
    max-height:20vh;
    max-width:20vh;
}

.pictureMini{
    height:auto;
    max-width:100%;
    border-radius: 2px;
}


/*scroll*/
::-webkit-scrollbar {
    width: 10px;
  }
  
 ::-webkit-scrollbar-track {
   box-shadow: inset 0 0 5px rgb(224, 224, 224); 
   border-radius: 10px;
   background: #f1f1f1; 
  }
  
 ::-webkit-scrollbar-thumb {
   background: rgb(199, 198, 198); 
   border-radius: 10px;
 }

.dialog{
    z-index: 2000;
    border-radius: 7px;
    border-color: blue;
}

.maxPicture{
    max-width: 50vw;
    max-height: 50vh;
}
