
.size{
    display: flex;
}

.bottom-bar{
    border: 1px solid grey;
}


.navList1{
    display: flex;
    justify-content: left;
    grid-template-rows: auto;
}

.photo{
    display: flex;
    justify-content: center;
    align-items: center;
    /*padding-right: 1em;*/
}

.pictureContainer{
    max-height:30vh;
    max-width:30vh;
}

.picture{
    height:auto;
    max-width:100%;
    border-radius: 7px;
}

.pictureContainerMini{
    position: absolute;
    bottom: 20vh;
    right: 10px;
    max-height:10vh;
    max-width:10vh;
}

.pictureMini{
    height:auto;
    max-width:100%;
    border-radius: 2px;
}